:root{
  --mainGold: #FCAA19
--mainBlue: #193044;
--mainLight: #D5E2CC;
--mainGreen: #30382F;
--mainRed: #913934;

}


.poop {
  yellow0: #FCAA19;
  dark0: #1E1F1F;
  medteal: #193044;
  darkblue0: #284662;
  darkblue1: #304E6A;
  color: #274A6A;
  medblue0: #305B83;
  medblue1: #437FB6;
  grey0: #686B6B;
  lightgreen: #D5E2CC;
}
